<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotOwner" value="" />
		<add key="ServerID" value="" />
		<add key="ForumID" value="" />
		<add key="Token" value="" />
		<add key="DBConnString" value="" />
	</appSettings>
</configuration>